annoy==1.16.3
click==7.1.1
fasteners==0.15
Flask==1.1.2
h5py==2.10.0
itsdangerous==1.1.0
Jinja2==2.11.1
lz4==3.0.2
MarkupSafe==1.1.1
monotonic==1.5
numpy==1.18.2
pkg-resources==0.0.0
pymagnitude==0.1.120
six==1.14.0
torch==0.4.1.post2
Werkzeug==1.0.1
xxhash==1.4.3
